{% extends 'blog.html' %}
{% block content %}
{% for post in posts %}
<div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.pub_date.strftime('%B %d, %Y') }} by <a href="#">{{ post.user.email }}</a></p>

    <div>{{ post.body|safe }}</div>
</div>
{% endfor %}

<nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="/page/{{ page + 1 }}">Older</a>

    {% if page == 1 %}
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
    {% elif page == 2 %}
    <a class="btn btn-outline-primary" href="/">Newer</a>
    {% else %}
    <a class="btn btn-outline-primary" href="/page/{{ page - 1 }}">Newer</a>
    {% endif %}
</nav>

{% endblock %}
