{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block container %}
<div >
    <form id="form" method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.title) }}
        <div class="form-group">
            <div id="editor">
            </div>
        </div>
        {{ render_field(form.category) }}
        {{ render_field(form.newCategory) }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

<script>
    var options = {
        placeholder: 'Create a new post.',
        theme: 'snow'
    };
    var editor = new Quill('#editor', options); 

    newCategory = document.getElementById('newCategory').parentElement;
    category = document.getElementById('category');

    function hideNewCategory() {
        if (category.value === '__None') {
            newCategory.style.display = "block";
        } else {
            newCategory.style.display = "none";
        }
    }

    hideNewCategory();
    category.onchange = hideNewCategory;

    var form = document.getElementById('form');
    form.onsubmit = function () {
        var hiddenBody = document.getElementById('body');
        hiddenBody.value = editor.root.innerHTML;

        var hiddenLength = document.getElementById('length');
        hiddenLength.value = editor.getLength();
        console.log(editor.getLength())
    };
</script>
{% endblock %}